:root {
    --grid-size: 1;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blanchedalmond;
    
}
h1 {
    display: flex;
    justify-content: center;
    font-family:cursive;
    font-size: 10ex;
    height: 100%;
    background-color: darkgoldenrod;
}
#grid {
    display: grid;
    grid-template-rows: repeat(var(--grid-size), 1fr);
    grid-template-columns: repeat(var(--grid-size), 1fr);

    width: 550px;
    margin-right: 50px;
    cursor: crosshair;
  }

.square {
    padding-bottom: 100%;
    background-color: white;
  }

.grid-lines {
    outline: 1px solid black;
  }

.controls, .slider {
    display: flex;
    flex-direction: column;
}

.controls {
    justify-content: space-around;
    height: 100%;
}

.active {
    background-color: rgb(0, 4, 250);
}